
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: bisque;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    font-size: 1.8em;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation a{
    
    color: blue;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    text-decoration: none;
}

.navigation a:hover{
    color: blueviolet;

}
section{
    padding:100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/wp3732152.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.main h2{
    color: white;
    font-size: 1.4em;
    font-weight: 500;
}


.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: blue;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: blue;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1;
    margin-top: 10px;
    margin-bottom: 30px;


}
.main-button{
    color:white;
    background-color: blue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    border: 1px solid black;
    border-radius: 15px;
    padding:0.9375em 2.1875em;
    margin-bottom: 40px;
    /* transition: 0.7s ease; */
}

.main-button:hover{
    color:white;
    background-color: rgb(12, 12, 182);
    transform: scale(1.1);
    transition: 0.7s ease;
}


.social-icons a{
    color: white;
    font-size: 1.7em;
    padding-right: 25px;
}

.title{
    display: flex;
    justify-content: center;
    color: blue;
    font-size: 2.2em;
    font-weight: 800px;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    width: 15.25em;
    /* height: 400px; */
    box-shadow: 0px 5px 25px rgba(1,1,1,0.15);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.7s ease;
}
.info h3{
    text-align: center;
    color: blue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.icon{
    color: blue;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
    
}